@import url('https://fonts.cdnfonts.com/css/sofia-pro?styles=17638,17628');
@import url('https://fonts.cdnfonts.com/css/graphik?styles=44660');
@import url('https://fonts.cdnfonts.com/css/inter?styles=29139');
@import url('https://fonts.cdnfonts.com/css/circular-std?styles=17911');

body{
  background: #141518;
  width: 1440px;
  height: 5914px;
  position: relative;
 
}

.landing_page{
  position: absolute;
  width: 1515px;
  height: 5914px;
  left: 0px;
  top: 0px;
  background: url('../public/Frame 89.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_section{
  margin-top: 130px;
}
.hero_section__header{
  font-family: 'Sofia Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 61px;
  line-height: 110%;
  text-align: center;
  color: #FFFFFF;
}

.hero_section__paragraph{
  font-family: 'Graphik', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #B9BDEA;
}

.hero_section__button{
  width: 287px;
height: 65px;
left: 599px;
top: 404px;
background: linear-gradient(265.56deg, #246CF9 -0.27%, #1E68F6 -0.26%, #0047D0 98.59%);
border-radius: 100px;
font-family: 'Sofia Pro', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 160%;
color: white;
cursor: pointer;
position: absolute;
}

.assets_section{
    margin-top: 200px;
}
.asset_firstlayer{
  display: flex;
  justify-content: center;
  gap: 3px;
}
.asset_firstlayer__bitcon{
  height: 183px;
  width: 346px;
  border-radius: 0px;
  background: rgba(47, 50, 65, 0.5);
  border-top-left-radius: 15px;
  display: flex;
  justify-content: space-evenly;
}
.asset_firstlayer__eth{
  height: 183px;
  width: 346px;
  border-radius: 0px;
  background: rgba(47, 50, 65, 0.5);
  display: flex;
  justify-content: space-evenly;
}
.asset_firstlayer__bnb{
  height: 183px;
  width: 346px;
  border-radius: 0px;
  background: rgba(47, 50, 65, 0.5);
  border-top-right-radius: 15px;
  display: flex;
  justify-content: space-evenly;
}
.asset_firstlayer__btc{
  height: 183px;
  width: 346px;
  border-radius: 0px;
  background: rgba(47, 50, 65, 0.5);
  border-bottom-left-radius: 15px;
  display: flex;
  justify-content: space-evenly;
}
.asset_firstlayer__viewall{
  height: 183px;
  width: 346px;
  border-radius: 0px;
  background: rgba(47, 50, 65, 0.5);
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: space-evenly;
}
.asset_firstlayer__bitcon_img{
  width: 13%;
  margin-top: -90px;
}
.asset_firstlayer__bitcon_text{
  margin-top: 2px;
}
.asset_firstlayer__bitcon_title{
  font-family: 'Graphik', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #A5ADCF;
}
.asset_firstlayer__bitcon_currency{
  font-family: 'Rubik';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 27px;
color: #FFFFFF;
margin-top: -8px;
}
.asset_firstlayer__bitcon_abbv{
  font-family: 'Graphik', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #5D6588;
margin-top: 19px ;
}

.asset_firstlayer__bitcon_diagram{
  display: flex;
  justify-content: space-evenly;
  margin-top: -80px;
  gap: 30px;
}

.asset_secondlayer{
  display: flex;
  justify-content: center;
  gap: 3px;
  margin-top: 35px;
}
.asset_thirdlayer{
  display: flex;
  justify-content: center;
  gap: 3px;
  margin-top: 35px;
}
.asset_firstlayer__view{
  height: 183px;
  width: 346px;
  border-radius: 0px;
  background: rgba(47, 50, 65, 0.5);
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: space-evenly;
}
.asset_thirdlayer__viewall{
  width: 141px;
height: 47px;
background: rgba(47, 50, 65, 0.5);
border: 1px solid #FFFFFF;
border-radius: 100px;
font-family: 'Sofia Pro', sans-serif;;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 22px;
color: #FFFFFF;
margin-top: 18%;
}

.features_section{
  margin-top: 120px;
}
.features_section__header{
    color: #FFFFFF;
    font-family: 'Sofia Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 49px;
    line-height: 110%;
    text-align: center;
    color: #FFFFFF;
}
.features_section__paragraph{
  color: #E5E6ED;
  font-family: 'Graphik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.features_section__feature{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 35px;
  position: relative;
}
.features_section__feature_box{
  height: 329px;
  width: 285px;
  border-radius: 12px;
  background: rgba(47, 50, 65, 0.5);
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
}
.features_section__feature_box__mobileapp{
  height: 329px;
  width: 285px;
  border-radius: 12px;
  background: rgba(47, 50, 65, 0.5);
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 65px;
}
.features_section__feature_box__icon{
  background: rgba(253, 225, 191, 0.2);
  height: 91px;
  width: 91px;
  border-radius: 100px;
  margin: auto;
}
.features_section__feature_box__img{
  padding: 29px;
  margin-top: -3px;
  filter: drop-shadow(0px 0px 4px #F7931A);
}
.features_section__feature_box__smartphone{
  padding: 23px;
  margin-top: -3px;
  filter: drop-shadow(0px 0px 4px #1A82FF);
}
.features_section__feature_box__lock{
  padding: 24px;
  margin-left: -0.5px;
  /* filter: drop-shadow(0px 0px 2px #11CABE); */
}

.features_section__feature_box__title{
  font-family: 'Sofia Pro', sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}
.features_section__feature_box__subtitle{
font-family: 'Graphik', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #A5ADCF;
}


.buy_sell{
background: rgba(47, 50, 65, 0.5);
backdrop-filter: blur(32px);
height: 449px;
width: 406px;
border-radius: 20px;
margin: auto;
}
.buy_sell__card{
  position: absolute;
  z-index: -1;
  left: 29%;
top: 40%;
}
.buySell{
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}
.buy_text{
font-family: 'Rubik';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
color: #1A82FF;
}
.sell_text{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #5D6588;
}
.btc_rate{
font-family: 'Graphik', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}
.btc_price{
font-family: 'Rubik';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
color: #FFFFFF;
}
.btc_currency{
font-family: 'Graphik', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #A5ADCF;
margin-left: 6px;
}
.price_box{
  text-align: center;
}

.convertFrom{
  background: rgba(47, 50, 65, 0.5);
border: 1px solid #34384C;
border-radius: 100px;
height: 15px;
width: 290px;
padding: 20px 32px;
margin-top: 20px;
margin-left: 25px;
display: flex;
justify-content: space-between;
background: rgba(47, 50, 65, 0.5);
border: 1px solid #34384C;
border-radius: 100px;
}
.convertFrom_price{
  font-family: 'Graphik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  margin-top: -5px;
}
.convertFrom_currency{
  display: flex;
  align-items: center;
  gap: 10px;
}
.convertFrom_currency_abbv{
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Sofia Pro', sans-serif;;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 160%;
color: #FFFFFF;
}
.buy_sell__button{
  background: linear-gradient(265.56deg, #246CF9 -0.27%, #1E68F6 -0.26%, #0047D0 98.59%);
border-radius: 100px;
font-family: 'Sofia Pro', sans-serif;;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 160%;
color: #FFFFFF;
width: 353px;
height: 65px;
border: none;
margin-left: 26px;
margin-top: 20px;
}


.payment_method{
  margin-top: 100px;
}

.payment_method__text{
  font-family: 'Graphik', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #5D6588;
text-align: center;
}
.payment_medium{
  display: flex;
  justify-content: center;
  gap: 30px;
}


.reason_section{
  margin-top: 240px;
}
.reason_section__header{
  color: #FFFFFF;
  font-family: 'Sofia Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 49px;
  line-height: 110%;
  text-align: center;
  color: #FFFFFF;
}
.reason_section__paragraph{
  color: #E5E6ED;
  font-family: 'Graphik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.reason_section__why{
  display: flex;
  justify-content: center;
  gap: 180px;
  margin-top: 56px;
}
.reason_section__reasons{
  height: 111px;
  width: 111px;
  border-radius: 12px;
  background: rgba(47, 50, 65, 0.5);  
  text-align: center;
}
.reason_section__reasons_img{
  margin-top: 33px;
}
.reason_section__reasons__title{
  font-family: 'Sofia Pro', sans-serif;;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align:center;
  color: #FFFFFF;
}
.reason_section__reasons__body{
  font-family: 'Graphik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #A5ADCF;
}
.reason_section__reasons_textbox{
  margin-left: -72px;
}
.reason_section__reasons_textbox_community{
  margin-left: -55px;
}
.reason_section__reasons_textbox_confidence{
  margin-left: -49px;
}

.what_media_says_section{
  margin-top: 100px;
  margin-bottom: 120px;
}
.what_media_says_section__header{
  color: #FFFFFF;
  font-family: 'Sofia Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 49px;
  line-height: 110%;
  text-align: center;
  color: #FFFFFF;
}
.what_media_says_section__img{
  width: 1110px;
height: 252.02px;
margin-top: 30px;
margin-left: 1%;
}


.mobileplatform_section{
  margin-top: 80px;
  margin-bottom: 100px;
}
.mobileplatform_section__header{
  color: #FFFFFF;
  font-family: 'Sofia Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 49px;
  line-height: 110%;
  text-align: center;
  color: #FFFFFF;
}
.mobileplatform_section__paragraph{
  color: #E5E6ED;
  font-family: 'Graphik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.mobileplatform_section__img{
  height: 471.7403259277344px;
width: 832.2427978515625px;
margin-left: 22%;
}
.mobileplatform_button_section{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}
.mobileplatform_button{
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 215.5px;
height: 69px;
border: 1px solid #FFFFFF;
border-radius: 100px;
background-color: rgba(165, 42, 42, 0);
}
.mobileplatform_button__img{
  padding-top: 17px;
}
.mobileplatform_button__text{
  margin-top: 5px;
  text-align: left;
}
.mobileplatform_button__firstText{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;

color: #FFFFFF;
}
.mobileplatform_button__secondText{
  font-family: 'Circular Std';
font-style: normal;
font-weight: 500;
font-size: 16px;
margin-top: -10px;
color: #FFFFFF;
}


.cta_section{
  height: 293px;
  width: 1111px;
  border-radius: 12px;
  background: rgba(47, 50, 65, 0.5);
backdrop-filter: blur(7px);
margin: auto;
padding-top: 30px;
margin-bottom: 100px;
}
.cta_section__subtitle{
  font-family: 'Graphik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #E5E6ED;
}
.cta_section__title{
  font-family: 'Sofia Pro', sans-serif;;
font-style: normal;
font-weight: 700;
font-size: 39px;
line-height: 110%;
text-align: center;
color: #FFFFFF;
margin-top: 1px;
}
.cta_section__form{
margin-left: 20%;
}
.cta_section__form_input{
  display: inline-block;
  max-width: 615px;
 padding-top: 4px;
  width: 615px;
  height: 58px;
  background: rgba(47, 50, 65, 0.5);
  border: 1px solid #34384C;
  border-radius: 100px;
  outline-color: #34384C ;

  color: white;
padding-left: 25px;
font-size: 16px;
font-family: 'Graphik';
font-style: normal;
font-weight: 400;

}

.cta_section__form_input::placeholder{
  font-family: 'Graphik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #5D6588;
padding-left: 12px;
}
.cta_section__form_button{
  margin-left: -156px;
  align-content: center;
  width: 150px;
  height: 55px;
  border: none;
  background: linear-gradient(265.56deg, #246CF9 -0.27%, #1E68F6 -0.26%, #0047D0 98.59%);
  border-radius: 100px;
  font-family: 'Sofia Pro', sans-serif;;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 160%;
color: #FFFFFF;
}